<div class="row">
	<div class="col-md-4">
		<div ng-if="isUserLoggedIn == false">
			<h3 ng-if="isUserLoggedIn == false">Please Login</h3>
			<button type="button" class="btn btn-default">Login</button>
		 </div>
		 <div ng-if="isUserLoggedIn == true">
			<h3 ng-if="isUserLoggedIn == false">Welcom : {{userName}}</h3>
			<img ng-src={{profileImage}}></img>
			<button type="button" class="btn btn-default">Logout</button>
		 </div>
		 <br><br>
		 <div class="well">
			<h4>User details</h4>
			<ul>
				<li>Firstname : Krishan</li>
				<li>Lastname : Sunil</li>
				<li>D.O.B : 16/12/1986</li>
				<li>Locale : enGB</li>
			</ul>
		 </div>
		 <div class="well">
			<h4>User permissions</h4>
			<ul>
				<li>email : granted</li>
				<li>profile_info : granted</li>
			</ul>
		 </div>
	</div>
	<div class="col-md-8">
		<form>
			<div class="form-group">
				<textarea class="form-control custom-control" rows="3" style="resize:none"></textarea>  
				<br>
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
			
		</form>
	</div>
</div>